{% extends "base.html" %}

{% block title %}
    搜索结果
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/tiezi.css') }}">
{% endblock %}

{% block main %}
    <ul class="tiezi-list-group">
        {% for tiezis in fatie %}
        <li>
            <div class="avatar-group">
                <img src="{{ url_for('static',filename='images/tou.png') }}" alt="" class="avatar">
            </div>
            <div class="tiezi-group">
                <p class="tiezi-title"><a href="{{ url_for('pl', zhutie_id=tiezis.zhutieid) }}">{{ tiezis.zhutietitle }}</a></p>
                <p class="tiezi-content"></p>
                <div class="tiezi-info">
                    <span class="tiezi-author">{{ tiezis.author.username }}</span>
                    <span class="tiezi-time">{{ tiezis.zhutieTime }}</span>
                </div>
            </div>
        </li>
        {% endfor %}

    </ul>
{% endblock %}